.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
}

.subtitle {
    font-size: "large";
    opacity: .9;
}

.paragraph {
    max-width: 600px;
    text-align: justify;
}

.flex {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1500px) {
    .flex {
        display: flex;
        flex-direction: column;
    }
}