.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    padding: 2rem 5rem;
    z-index: 1;
}

.brand {
    font-size: xxx-large;
    margin: 0 10px;
    transition: all .2s ease-in-out;
}

.brand:hover {
    scale: var(--bigger-scale);
}

.login:hover {
    opacity: 1 !important;
}