.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    justify-content: center;
    padding: 30px 80px;
    border-radius: 20px;
    background-color: var(--light-background-color);
    max-width: 50vw;
    height: 300px;
    box-shadow: 0 0 25px 5px var(--first-color);
}

@media (max-width: 1500px) {
    .box {
        height: auto;
        max-width: 60vw;
    }
}

.verticalCenter {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.comment {
    font-size: x-large;
}

.leftArrow {
    position: absolute;
    top: 120px;
    left: -30px;
    font-size: larger;
    font-weight: bold;
    border-radius: 40px;
    padding: 20px;
    background-color: var(--first-color);
    opacity: .8;
    transition: all .2s ease-in-out
}

.leftArrow:hover {
    opacity: 1;
    cursor: pointer;
    scale: 1.1;
}

.rightArrow {
    position: absolute;
    top: 120px;
    right: -30px;
    font-size: larger;
    font-weight: bold;
    border-radius: 40px;
    padding: 20px;
    background-color: var(--first-color);
    opacity: .8;
    transition: all .2s ease-in-out
}

.rightArrow:hover {
    opacity: 1;
    cursor: pointer;
    scale: 1.1;
}

