.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

@media (max-width: 1500px) {
    .container {
        flex-direction: column;
    }

    .box {
        min-width: 60vw;
        margin: 20px 0 !important;
    }
}

.box {
    padding: 40px 30px 50px 30px;
    margin: 0 20px;
    width: 20vw;
    text-align: center;
    background-color: var(--light-background-color);
    border-radius: 30px;
    box-shadow: 0 0 5px 5px var(--first-color);
}