.main {
    display: flex;
    flex-direction: row;
    text-align: justify;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.paragraph {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 50em)  {
    .main{
        flex-direction: column;
    }
}